# Generate source files
/coffee-script.cc
/livescript.cc
/plv8_config.h

# Generated test and install files
/plcoffee--*.sql
/plcoffee.control
/plls--*.sql
/plls.control
/plv8--*.sql
/plv8.control

# Generic build files
*.o
*.so
*.bc

# For static build
/build

# Test results
/results

# For packaging
plv8-*.zip

# Web
/contrib/web/node_modules
/contrib/web/index.html

# For MSVC
/windows/*.vcxproj
/windows/*.vcxproj.filters
/windows/*.sln
/windows/CMakeCache.txt
/windows/CMakeFiles
/windows/Release
/windows/cmake_install.cmake
/windows/libplv8.dir
/windows/vendor
/windows/x64
/windows/CPackConfig.cmake
/windows/CPackSourceConfig.cmake
/windows/_CPack_Packages
/windows/install_manifest.txt
/windows/plv8*.zip
