# Generate source files
/coffee-script.cc
/livescript.cc
/plv8_config.h

# Generated test and install files
/plcoffee--*.sql
/plcoffee.control
/plls--*.sql
/plls.control
/plv8--*.sql
/plv8.control

# Generic build files
*.o
*.so

# For static build
/build

# Test results
/results

# For packaging
plv8-*.zip

# For MSVC
*.vcxproj
*.vcxproj.filters
*.sln
/CMakeCache.txt
/CMakeFiles
/Release
/cmake_install.cmake
/libplv8.dir
/vendor
/x64